div#example { width: 100%; height: auto; text-align: center; background-color: #0666a3; }
img#map { width: 50%; float: left }
canvas#viewport { width: 50%; image-rendering: crisp-edges; float: right }
